body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF8F3; /* Cor de fundo geral (claro) */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px;
}

body.dark-mode {
    background-color: #352F44; /* Cor de fundo geral (escuro) */
    color: #FAF0E6;
}

h1 {
    color: #405D72; /* Cor para o título (claro) */
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    top: 20px;
    left: 50%;
}

body.dark-mode h1 {
    color: #B9B4C7; /* Cor para o título (escuro) */
}

.theme-toggle button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #405D72;
    transition: transform 0.5s ease, opacity 0.3s ease;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

body.dark-mode .theme-toggle button {
    color: #B9B4C7;
}

.theme-toggle button.animate {
    transform: rotate(180deg);
    opacity: 0;
}

body.dark-mode .theme-toggle button {
    color: #B9B4C7; /* Cor do ícone (escuro) */
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    position: center;
    top: 80px;
    left: 50%;
    z-index: 1000;
}

.menu button {
    background-color: #405D72; /* Cor dos botões (claro) */
    color: #e9e0e0;
    border: none;
    padding: 12px 25px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode .menu button {
    background-color: #5C5470; /* Cor dos botões (escuro) */
}

.menu button:hover,
.menu button.active {
    background-color: #758694; /* Cor de hover e ativo (claro) */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(42, 192, 82, 0.1);
}

body.dark-mode .menu button:hover,
body.dark-mode .menu button.active {
    background-color: #868095; /* Cor de hover e ativo (escuro) */
}

.section {
    display: none;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    background-color: #F7E7DC; /* Fundo das seções (claro) */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-top: 50px;
    margin-bottom: 20px;
}

body.dark-mode .section {
    background-color: #5C5470; /* Fundo das seções (escuro) */
}

.section.active {
    display: block;
}

.section h2 {
    margin-top: 0;
    color: #405D72; /* Destaque para os subtítulos (claro) */
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

body.dark-mode .section h2 {
    color: #fafafa; /* Destaque para os subtítulos (escuro) */
}

input[type="file"],
select {
    width: 75%;
    padding: 12px;
    border: 1px solid #758694;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    background-color: #FFF8F3;
    cursor: pointer;
}

body.dark-mode input[type="file"],
body.dark-mode select {
    background-color: #B9B4C7;
    color: #352F44;
}

button.convert {
    background-color: #405D72; 
    color: white;
    border: none;
    padding: 12px 25px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode button.convert {
    background-color: #4f4763; 
}

button.convert:hover {
    background-color: #758694; /* Cor de hover (claro) */
    transform: translateY(-2px);
}

body.dark-mode button.convert:hover {
    background-color: #8d83a9; /* Cor de hover (escuro) */
}

#progressContainer {
    display: none;
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

body.dark-mode #progressContainer {
    background-color: #5C5470;
}

#progressBar {
    width: 0%;
    height: 30px;
    background-color: #405D72; /* Cor de progresso (claro) */
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease;
}

body.dark-mode #progressBar {
    background-color: #B9B4C7; /* Cor de progresso (escuro) */
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

li {
    background-color: #FFF8F3; /* Fundo claro para itens (claro) */
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #758694; /* Bordas neutras */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body.dark-mode li {
    background-color: #B9B4C7; /* Fundo claro para itens (escuro) */
    color: #352F44;
}

#dragDropArea {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 2px dashed #758694;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    color: #405D72;
}

body.dark-mode #dragDropArea {
    background-color: #352F44;
    color: #FAF0E6;
    border-color: #B9B4C7;
}

/* Estilos para a nova seção de porcentagem */
#percentageSection input[type="number"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #758694;
    border-radius: 8px;
    background-color: #FFF8F3;
}

body.dark-mode #percentageSection input[type="number"] {
    background-color: #B9B4C7;
    color: #352F44;
}
